body {
    background-color: #805830;
}

.light-mode .box_class,
.light-mode .box_class_2,
.light-mode .box_class_3,
.light-mode .box_class_4,
.light-mode .box_class_5,
.light-mode .box_class_6,
.light-mode .box_class_7,
.light-mode .box_class_8,
.light-mode .box_class_9,
.light-mode .box_class_10,
.light-mode .box_class_11 {
    border: none;
}

.light-mode {
    --text-color: #000000;
}

.light-mode .hydrogen {
    border: none;
    box-shadow: none;
    color: #000000;
    text-shadow: none;
}

.light-mode .period-number {
    color: #000000;
}

.light-mode .box_class,
.light-mode .box_class_2,
.light-mode .box_class_3,
.light-mode .box_class_4,
.light-mode .box_class_5,
.light-mode .box_class_6,
.light-mode .box_class_7,
.light-mode .box_class_8,
.light-mode .box_class_9,
.light-mode .box_class_10,
.light-mode .box_class_11 {
    color: #000000;
}

.box_class_3 {
    border: 2px solid #b64949;
    box-shadow: 0 0 20px #b64949;
    color: #b64949;
    text-shadow: 0 0 20px #b64949;

}

.box_class_2 {
    border: 2px solid #7067c4;
    box-shadow: 0 0 20px #7067c4;
    color: #7067c4;
    text-shadow: 0 0 20px #7067c4;
}

.box_class_11 {
    border: 2px solid #6451bc;
    box-shadow: 0 0 20px #6451bc;
    color: #6451bc;
    text-shadow: 0 0 20px #6451bc;
}

.box_class_10 {
    border: 2px solid #4052a5;
    box-shadow: 0 0 20px #4052a5;
    color: #4052a5;
    text-shadow: 0 0 20px #4052a5;
}

.box_class_9 {
    border: 2px solid #639bcf;
    box-shadow: 0 0 20px #639bcf;
    color: #639bcf;
    text-shadow: 0 0 20px #639bcf;
}

.box_class_8 {
    border: 2px solid #45692b;
    box-shadow: 0 0 20px #45692b;
    color: #45692b;
    text-shadow: 0 0 20px #45692b;
}

.box_class_6 {
    border: 2px solid #c977c9;
    box-shadow: 0 0 20px #c977c9;
    color: #c977c9;
    text-shadow: 0 0 20px #c977c9;
}

.box_class_7 {
    border: 2px solid #7d3b7d;
    box-shadow: 0 0 20px #7d3b7d;
    color: #7d3b7d;
    text-shadow: 0 0 20px #7d3b7d;
}

.box_class_5 {
    border: 2px solid #c0b54f;
    box-shadow: 0 0 20px #c0b54f;
    color: #c0b54f;
    text-shadow: 0 0 20px #c0b54f;
}

.box_class_4 {
    border: 2px solid #c57e48;
    box-shadow: 0 0 20px #c57e48;
    color: #c57e48;
    text-shadow: 0 0 20px #c57e48;
}

.box_class {
    background-color: rgb(161, 127, 83);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.light-mode .box_class_3 {
    background-color: #cca7ca;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.light-mode .box_class_4 {
    background-color: rgb(190, 165, 217);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.light-mode .box_class_5 {
    background-color: rgb(255, 175, 185);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.light-mode .box_class_6 {
    background-color: rgb(204, 192, 231);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.light-mode .box_class_7 {
    background-color: rgb(179, 103, 170);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.light-mode .box_class_8 {
    background-color: rgb(221, 203, 184);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.light-mode .box_class_9 {
    background-color: rgb(194, 122, 161);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.light-mode .box_class_10 {
    background-color: rgb(203, 135, 202);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.light-mode .box_class_11 {
    background-color: rgb(181, 124, 175);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.light-mode .box_class_2 {
    background-color: rgb(206, 116, 181);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.table_1 {
    color: rgb(42, 38, 34);
    width: 1000px;
    border: 1px solid black;
}

.table_2 {
    color: rgb(42, 38, 34);
    width: 900px;
    padding-left: 80px;
    border: 1px solid black;
}

.periodic {
    display: grid;
    flex-direction: column;
    align-items: center;

}

td {
    padding: 10px;
    text-align: center;
}

table {
    font-family: "Arima", serif;
    border-collapse: collapse;
}

table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.empty-cell {
    border: none;
    background-color: transparent;
}

.period-number {
    text-align: center;
    font-weight: bold;
    border: none;
    padding: 5px;
    color: #fff9f9;
}

.group-number {
    text-align: center;
    font-weight: bold;
    border: none;
    padding: 5px;
    color: rgb(240, 244, 247);
}

.light-mode .box_class:hover {
    background-color: rgb(74, 118, 149);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;

}

.light-mode .box_class_2:hover {
    background-color: rgb(208, 178, 205);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.light-mode .box_class_3:hover {
    background-color: rgb(208, 178, 205);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.light-mode .box_class_4:hover {
    background-color: rgb(208, 178, 205);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.light-mode .box_class_5:hover {
    background-color: rgb(208, 178, 205);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}


.light-mode .box_class_6:hover {
    background-color: rgb(208, 178, 205);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}
h1 {
    font-family: "Arima", sans-serif; 
    color:#6ea1b0; 
    font-size: 3rem;
    padding-left: 450px;
}
.light-mode .box_class_7:hover {
    background-color: rgb(208, 178, 205);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.light-mode .box_class_8:hover {
    background-color: rgb(208, 178, 205);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.light-mode .box_class_9:hover {
    background-color: rgb(208, 178, 205);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.light-mode .box_class_10:hover {
    background-color: rgb(208, 178, 205);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.light-mode .box_class_11:hover {
    background-color: rgb(208, 178, 205);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.info-box {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(29, 2, 42);
    border: 1px solid #f1f0f0;
    max-width: 400px;
    margin: 20px auto;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    /* background-color: rgb(46, 21, 92); */
    color: #fff9f9;
}

.info-box h3 {
    margin-top: 0;
}

.box_class:hover {
    background-color: rgb(170, 199, 199);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;

}

.box_class_2:hover {
    background-color: rgb(170, 199, 199);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.box_class_3:hover {
    background-color: rgb(170, 199, 199);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.box_class_4:hover {
    background-color: rgb(170, 199, 199);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.box_class_5:hover {
    background-color: rgb(237, 247, 247);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.box_class_6:hover {
    background-color: rgb(170, 199, 199);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.box_class_7:hover {
    background-color: rgb(170, 199, 199);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.box_class_8:hover {
    background-color: rgb(170, 199, 199);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.box_class_9:hover {
    background-color: rgb(170, 199, 199);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.box_class_10:hover {
    background-color: rgb(170, 199, 199);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.box_class_11:hover {
    background-color: rgb(170, 199, 199);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.title {
    font-family: Parkinsans;
    font-size: 3rem;
    text-align: center;
    color: #bfa284;
    padding-top: 0%;
}

.info_box_2 {
    background-color: rgb(29, 2, 42);
    border: 1px solid #151010;
    width: 500px;
    height: 300px;
    color: #fff9f9;
    font-family: "Raleway", sans-serif;
    border: 2px solid white;

}

.properties {
    display: flex;
    justify-content: center;
}

:root {
    --background-color: #000000;
    --text-color: #130e09;
    --box-background: rgb(0, 0, 0);
}

.light-mode {
    --background-color: #d8c4d7;
    --text-color: #000000;
    /* Text color for light mode */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.box_class,
.box_class_2,
.box_class_3,
.box_class_4,
.box_class_5,
.box_class_6,
.box_class_7,
.box_class_8,
.box_class_9,
.box_class_10,
.box_class_11 {
    background-color: var(--box-background);
}

#theme-toggle {
    background-color: #969bca;
    color: #130e09;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 20px;
    position: absolute; 
    top: 20px;
    left: 20px;
}

#theme-toggle:hover {
    background-color: rgb(74, 118, 149);
    color: #000000;
}

.light-mode .info-box {
    background-color: rgb(176, 184, 189);
    /* Background color for light mode */
    color: #000000;
    /* Text color for light mode */
}

.light-mode .info_box_2 {
    background-color: rgb(176, 184, 189);
    /* Background color for light mode */
    color: #000000;
    /* Text color for light mode */
}

.light-mode .group-number {
    color: #000000;
}

.light-mode .period-number .info-box_2 {
    color: #000000;
}

.hydrogen {
    border: 2px solid #348abf;
    box-shadow: 0 0 20px #0fafe0;
    color: #0fafe0;
    text-shadow: 0 0 20px #0fafe0;
}

.light-mode .hydrogen {
    background-color: #a46391;
}

body:not(.light-mode) table {
    /* Adjust the thickness as needed */
}

.empty-cell {
    border: none;
    background-color: transparent;
}

td.empty-cell {
    border: none;
    /* Ensures no border for empty cells */
}

tr.empty-cell {
    border: none;
}

.info-box {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.info-box.show {
    opacity: 1;
    visibility: visible;
}